<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
Displaying Dashboard Information
<table class="table">
    <tbody data-hx-get="/api/load_dashboard_data" data-hx-trigger="load, every 4s"></tbody>
</table>
<script src="https://unpkg.com/htmx.org@1.3.1"
        integrity="sha384-fIzHaKYVrEFxI4/dWpMzf9tlIUPU0HmW8w/8s4nQHvZmGQhXhnEM6aenC6QFkd7e"
        crossorigin="anonymous"></script>
</body>
</html>
